.tui-chat {
  .tui-message-list {
    .message-more {
      color: #999;
      cursor: pointer;
    }
  }

  .image-dialog {
    background: rgba(0, 0, 0, 0.6);

    /* #ifndef MP-WEIXIN */
    header {
      background: rgba(0,0,0,0.49);
    }
    /* #endif */

    /* #ifdef MP-WEIXIN */
    .image-dialog-header {
      background: rgba(0,0,0,0.49);
    }
    /* #endif */
  }
}

.tui-chat-h5 {
  .tui-chat-header {
    background: #FFF;
  }

  .tui-chat-footer {
    background: #FFF;

    .input {
      /* #ifndef MP-WEIXIN */
      input {
        background: #F4F5F9;
      }
      /* #endif */

      /* #ifdef MP-WEIXIN */
      .input-field {
        background: #F4F5F9;
      }
      /* #endif */
    }
  }
}
