@import "../../../../assets/styles/common";
@import "./color";
@import "./web";
@import "./h5";

/* 基础样式 - 应用于消息列表的主要元素 */
.tui-message-list,
.message-li,
.message-item,
.message-tool {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-width: 0;
}