/* 微信小程序不支持标签选择器，使用条件编译 */
/* #ifndef MP-WEIXIN */
body, div, ul, ol, dt, dd, li, dl, h1, h2, h3, h4, p {
  margin:0;
  padding:0;
  font-style:normal;

  /* font:12px/22px"\5B8B\4F53",Arial,Helvetica,sans-serif; */
}

ol, ul, li {
  list-style:none;
}

img {
  border:0;
  vertical-align:middle;
  pointer-events:none;
}

body {
  color:#000;
  background:#FFF;
}

a {
  color:#000;
  text-decoration:none;
  cursor: pointer;
}

a:hover {
  text-decoration:none;
}

input, textarea {
  user-select: auto;
}

input:focus, input:active, textarea:focus, textarea:active {
  outline: none;
}
/* #endif */

/* 通用样式类 - 兼容微信小程序 */
.clear {
  clear:both;
  height:1px;
  width:100%;
  overflow:hidden;
  margin-top:-1px;
}

.chat-aside {
  position: absolute;
  top: 50px;
  right: 0;
  box-sizing: border-box;
  width: 360px !important;
  border-radius: 8px 0 0 8px;
  z-index: 9999;
  max-height: calc(100% - 50px);
}
